.body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

img {
    width: 40%;
    height: 40%;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}


